{% load static %}

  <section class="ftco-section bg-light ftco-slant ftco-slant-white" id="section-features">

    <div class="container main-container">
      <h2 class="main-title">Hydrometeorological Forecasting and Early Warning System in La Plata Basin
      </h2>
      <div class="main-content">
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
          <div class="container-fluid">
            <div class="header-body">
              <div class="row">
                <div class="col-xl-4 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Funding</h5>
                          <span class="h2 font-weight-bold mb-0">US$ 1,500,000.00</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                            <i class="fa-solid fa-sack-dollar"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2">  </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Status</h5>
                          <span class="h2 font-weight-bold mb-0">Ongoing</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                            <i class="fa-solid fa-list-check"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-danger mr-2"> </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Region</h5>
                          <span class="h2 font-weight-bold mb-0">III South America</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                            <i class="fa-solid fa-earth-americas"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"></span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="row mb-5">
              <p class="lead">Demands for increased food and energy production, and the presence of populations at risk of flooding require increased knowledge of the Basin’s hydrometeorological regime and the adoption of the latest technologies to meet these challenges. The Hydrometeorological Forecasting and Early Warnings System in the La Plata Basin (PROHMSAT) project seeks to enhance the capacities of the region's NMHSs for the provision of flood forecasting, decreasing the vulnerability of the surrounding communities against the impact of floods. 
              </p>
          </div>
        </div>
      <div class="row features">

        <div class="col-lg-6 mb-5 feature">
          <figure class="fig-class"><img src="{% static 'water_data_explorer_whos/images/outputs.png' %}" alt="Free Template by Free-Template.co" class="img-fluid"></figure>
          <div class="p-3">
            <h3 class="h4 sub-title-cs" >Outputs</h3>
            <ul class="list-unstyled d-grid gap-2">
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Establish hydrometeorological and Early Warning System (EWS) in La Plata Basin, integrating existing developments and strengthening standard FFGS components
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Establish permanant technical working group on operational hydrology for sub-basins of the La Plata Basin 
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Strengthen RA-III in flood forecasting and early warning systems</span></li>              
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Train NMHS technicians in hydrometeorological and EWS tools</span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Develop a public information interface</span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Develop EWS tools</span></li>
            </ul>
          </div>
        </div>
    
        <div class="col-lg-6 mb-5 feature">
          <figure class="fig-class"><img src="{% static 'water_data_explorer_whos/images/outcomes.png' %}" ></figure>
          <div class="p-3 feature">
            <h3 class="h4 sub-title-cs">Expected Outcomes</h3>
            <ul class="list-unstyled d-grid gap-2">
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Strengthened NMHSs capacities for the provision of flood forecasting
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Improved quality and quantity of available information for institutions related to floor risk management and for the public in general 
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Strengthened capacity of the entire RA-III in flood forecasting and early warning systems 
              </span></li>              

            </ul>
          </div>
        </div>
      </div>
      <div class="row features single-feature">
        <div class="col-lg-6 mb-5 feature">
          <figure class="fig-class"><img src="{% static 'water_data_explorer_whos/images/benefits.png' %}" alt="Free Template by Free-Template.co" class="img-fluid"></figure>
          <div class="p-3">
            <h3 class="h4 sub-title-cs" >Benefits</h3>
            <ul class="list-unstyled d-grid gap-2">
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Free and easy access to hydrometeorological 
                data shared through WHOS by countries in
                the La Plata River Basin
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>A Data Exchange Policy to improve data
                and product sharing among countries in
                the Basin is being developed for high level
                political adoption
                 
              </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Improved knowledge and skill levels of
                relevant staff in participating institutions in
                the area of data sharing technologies and
                approaches</span></li>              
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>More use of exchanged data by hydrologists
                through freely available hydrological
                applications to access, download and
                analyze the data shared through WHOS
                </span></li>
              <li class="d-flex mb-2"><i class="bi bi-check me-3 text-primary big-icon"></i> <span>Improved hydrological metadata in
                participating institutions in support of
                building trust in shared data and products,
                and their more accurate use</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="mb-sm">Participating <strong> Countries</strong></h2>
      
      <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">  
      <div class="square-holder">
      <img alt="" src="{% static 'water_data_explorer_whos/images/smn.png' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="{% static 'water_data_explorer_whos/images/ina.png' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="{% static 'water_data_explorer_whos/images/senamhi.png' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="square-holder">
          <img alt="" src="{% static 'water_data_explorer_whos/images/ana.png' %}" />
        </div>
        </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder big_logos_partners">
      <img alt="" src="{% static 'water_data_explorer_whos/images/cemaden_completa_vertical_colorida_png.png' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="{% static 'water_data_explorer_whos/images/dmh.png' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder big_logos_partners">
      <img alt="" src="{% static 'water_data_explorer_whos/images/Inumet_Imagotipo_negativo.jpg' %}" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="{% static 'water_data_explorer_whos/images/dinagua.png' %}" />
      </div>
      </div>
      </div>
      </strong>
      </div>
      
      <div class="container">
        <h2 class="mb-sm">PROHMSAT  <strong> Regional Center</strong></h2>
        
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="square-holder">
              <img alt="" src="{% static 'water_data_explorer_whos/images/smn.png' %}" />
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="square-holder">
              <img alt="" src="{% static 'water_data_explorer_whos/images/ina.png' %}" />
            </div>
          </div>
        </div>
       
      </div>

      <div class="container">
        <h2 class="mb-sm">Implementing  <strong> Partners</strong></h2>
        
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="square-holder">
              <img alt="" src="{% static 'water_data_explorer_whos/images/hrc.png' %}" />
           </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="square-holder">
              <img alt="" src="{% static 'water_data_explorer_whos/images/wmo.png' %}" />
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="square-holder big_logos_partners">
              <img alt="" src="{% static 'water_data_explorer_whos/images/noaa.png' %}" />
            </div>
          </div>
        </div>
      </div>   
      <div class="container">
        <h2 class="mb-sm">Funding   <strong> Agency</strong></h2>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="square-holder">
              <img alt="" src="{% static 'water_data_explorer_whos/images/usaid.png' %}" />
           </div>
          </div>
        </div>
      </div>  
</section>


<script src="{% static 'water_data_explorer_whos/js/partners.js' %}" type="text/javascript"></script>
